# Fichiers compilés Java
*.class

# Vim swap files
*.swp

# Variables d'environnement / temporaires
.env
venv/
*.log

# Dossiers de build Eclipse / Ant
bin/
out/
build/

# Javadoc
doc/

# Rapport universitaire
livraison/cartes/rapport/
livraison/blackjack/rapport/
